/*

# Keep .gitignore
!.gitignore

# Keep _vimrc
!_vimrc

# Keep the powershell profile
!Documents/
Documents/*
!Documents/WindowsPowerShell/
Documents/WindowsPowerShell/*
!Documents/WindowsPowerShell/Microsoft.PowerShell_profile.ps1

# Keep the ConEmu config
!AppData/
AppData/*
!AppData/Roaming/
AppData/Roaming/*
!AppData/Roaming/ConEmu.xml
