[*.lua]
indent_type = space
indent_size = 2
tab_width = 2
max_line_length = 120
align_array_table = false
trailing_table_separator = smart
break_all_list_when_line_exceed = true
auto_collapse_lines = true
