[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
Environment="NOTMUCH_CONFIG=/home/tillb/.config/notmuch-config"
ExecStart=/usr/bin/mbsync -Va -c /home/tillb/.config/mbsync/mbsyncrc
ExecStartPost=/home/tillb/.local/bin/notmuch-hook.sh
